Syncing Finder Tags between Mac and OMV NAS failing due to bug(s) in one or multiple components of: xattr + rsync + SMB + Filesystem + MacOS

## Problem Summary

### 1) Reading xattr for a file which got copied via SMB from a Mac to OMV fails with
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 8: invalid start byte`

- both for:
	- **a)** `xattr com.apple.metadata:_kMDItemUserTags`, a binary PLIST (=property list) in UTF-16, which the Finder creates for the Finder tags (one or more tag(s), each can be a tag plus optionally a color) but OMV's xattr query tool seemingly expects UTF-8 and chokes on the UTF-16.
	- **b)** `xattr -w test testvalue file-on-mac.txt` which was later copied to OMV, so a custom xattr with key and value both being ASCII only

- So the bug could be in many of the involved components:
	- **xattr command line tool** for reading/querying extended attributes
	- **xattr layer in the filesystem** (if that is a separate layer in the FS, I dunno)
	- **filesystem** itself
	- **SMB** possibly performs some transformation of the xattr while the file and its metadata is in transport?
	- **Mac SMB client** putting the xattr wrong into the SMB transport?
	- **Mac xattr implementation** putting the data into the xattr as UTF-16 which simply cannot ever work with a Linux target FS ? At maximum only for the data on rest (uninterpreted). But a soon as reading/comparing is involved -> boom!

### 2) rsyncing with --xattr deletes extended attributes on the OMV destination entirely — Data loss!
- From this alone it is also not clear whether this is
	- A rsync bug on the receiving side (OMV)
	- A rsync bug on the sending side (Mac)
	- Any of the bug suspicions listed at 1) causing rsync to get an invalid response when requesting info/data from xattr or the filesystem.

## Visuals

- All scenarios as chronologically ordered screenshots in a slide show
- 21 images 1440x900px, each shown for 3secs, MP4 (h.264), 955kB
- Pause / forward / backward as needed to understand the process

https://user-images.githubusercontent.com/737143/145684632-de11bd5d-d663-46eb-a6e3-ebcd968804de.mp4


## Reference to Forum

- My [post](https://forum.openmediavault.org/index.php?thread/41090) yielded no reaction with which I could do something concrete.

## Triage / Procedure / Followup

- I think first we must clarify WHERE the bug lies.
- This needs review from someone who has a holistic and deep understanding of OMV.
	- This expert then has to tell whether this is in the responsibility of the distro or if not where else this should be properly filed, possibly even multiple softwares/libraries are affected.
	- I myself would totally not know where to file it, as so many software components are involved in this.
- Lastly, providing me any alternatives how I could get Finder tags working with OMV (using HFS+ maybe?) or other NAS-distros knowing to work in that regard, would be highly appreciated.



## Environment

### OMV 5.6.21-2 (Usul)
```
Linux odroid 4.14.222-odroidxu4 #1 SMP PREEMPT Mon Nov 22 12:13:27 UTC 2021 armv7l GNU/Linux
openmediavault                     5.6.21-2   
openmediavault-downloader          5.1        
openmediavault-flashmemory         5.0.9      
openmediavault-keyring             1.0        
openmediavault-omvextrasorg        5.6.5      
openmediavault-shairport           5.0.4-1
```  
- samba-tool 4.9.5-Debian
- rsync  version 3.1.3  protocol version 31

```
Capabilities:
    64-bit files, 64-bit inums, 32-bit timestamps, 64-bit long ints,
    socketpairs, hardlinks, symlinks, IPv6, batchfiles, inplace,
    append, ACLs, xattrs, iconv, symtimes, prealloc
```

### macOS 12.6.1
- rsync  version 3.2.3  protocol version 31

```
Capabilities:
    64-bit files, 64-bit inums, 64-bit timestamps, 64-bit long ints,
    socketpairs, hardlinks, hardlink-specials, symlinks, IPv6, no atimes,
    batchfiles, inplace, append, ACLs, xattrs, optional protect-args, iconv,
    symtimes, no prealloc, stop-at, crtimes, file-flags
Optimizations:
    SIMD, asm, openssl-crypto
Checksum list:
    xxh128 xxh3 xxh64 (xxhash) md5 md4 none
Compress list:
    zstd lz4 zlibx zlib none
```


## Scenario Reproductions

### Legend
- MAC = Actions taking place on the Mac in a folder on an APFS volume (via Finder and Terminal)
- SHARE = OMV NAS mounted and accessed via SMB in on the Mac (via Finder and Terminal)
- OMV = Commands run on the OMV via SSH (remote shell)

### Preparation
- SHARE: Created folder FinderTagsCommentsEXT4samba 
- Path on Mac: `/Volumes/Shared/FinderTagsCommentsEXT4samba`
- MAC: Created folder FinderTagsCommentsAPFS
- Path on Mac: `~/Documents/Tests/FinderTagsCommentsAPFS`

### 1.txt without any metadata copied from MAC to OMV via rsync
- MAC:
	- echo "This is file 1" > 1.txt
	- xattr -l 1.txt # returns NULL.
	- rsync --archive --xattrs --delete --verbose --stats --progress --itemize-changes --human-readable ~/Documents/Tests/FinderTagsCommentsAPFS/ odroid.local::Shared-rsync/FinderTagsCommentsEXT4samba/
- SHARE: xattr -l 1.txt # returns NULL.
- OMV:   xattr -l 1.txt # returns NULL.

**Summary**: Without xattr all is fine. Also if rsync performs the uploading to OMV.

### 2.txt with Finder Tags as xattr copied from MAC to OMV via Finder

MAC:

- `echo "This is file 2" > 2.txt`
- Finder: Adding tag "•TODO" (red color)
- `xattr -l 2.txt` returns: 

```
com.apple.FinderInfo:
00000000  00 00 00 00 00 00 00 00 00 0C 00 00 00 00 00 00  |................|
00000010  00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00  |................|
00000020
com.apple.metadata:_kMDItemUserTags:
00000000  62 70 6C 69 73 74 30 30 A1 01 67 20 22 00 54 00  |bplist00..g ".T.|
00000010  6F 00 64 00 6F 00 0A 00 36 08 0A 00 00 00 00 00  |o.d.o...6.......|
00000020  00 01 01 00 00 00 00 00 00 00 02 00 00 00 00 00  |................|
00000030  00 00 00 00 00 00 00 00 00 00 19                 |...........|
0000003b
```
- `ls -li` returns NULL. No .DS_Store created! The tags are entirely in the xattr only.
- Drag'n'drop via Finder from `FinderTagsCommentsAPFS` to `FinderTagsCommentsEXT4samba`
	- SHARE and OMS: `ls -li` both return no invisible files like .DS_Store
	- SHARE: `xattr -l 2.txt` returns:

```
com.apple.metadata:_kMDItemUserTags:
00000000  62 70 6C 69 73 74 30 30 A1 01 67 20 22 00 54 00  |bplist00..g ".T.|
00000010  6F 00 64 00 6F 00 0A 00 36 08 0A 00 00 00 00 00  |o.d.o...6.......|
00000020  00 01 01 00 00 00 00 00 00 00 02 00 00 00 00 00  |................|
00000030  00 00 00 00 00 00 00 00 00 00 19                 |...........|
0000003b
com.apple.FinderInfo:
00000000  00 00 00 00 00 00 00 00 00 0C 00 00 00 00 00 00  |................|
00000010  00 00 00 00 00 00 00 00 29 42 86 A9 00 00 00 00  |........)B......|
00000020
```

Comparison between MAC and SHARE:

- `com.apple.metadata:_kMDItemUserTags` is identical
- `com.apple.FinderInfo:` differs slightly (highlighted light blue in screenshot)
	- Possibly the Finder sets some flags for files on Network Shares. Or whatever is encoded into this. Not too much of concern. I care about Finder Tags primarily.
- OMS: `xattr -l 2.txt` fails seemingly because `com.apple.metadata:_kMDItemUserTags` contains binary PLIST data encoded in 16bit Unicode (apparent in hex representation "T.o.d.o"):

```
Traceback (most recent call last):
  File "/usr/bin/xattr", line 11, in <module>
    load_entry_point('xattr==0.9.6', 'console_scripts', 'xattr')()
  File "/usr/lib/python3/dist-packages/xattr/tool.py", line 196, in main
    attr_value = attr_value.decode('utf-8')
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 8: invalid start byte
```
- OMS: Interestingly `xattr 2.txt` also fails with the same error, despite this only listing the key names, not the values. Either the routine has a functionally unnecessary glimpe at the content too and hence fails too. Or the error is not only a -l "value content display" issue but OMV's xattr seems to have deeper issues in general or with these xattr coming from the Mac in particular!


### 3.txt with with manual ASCII-only xattr copied from MAC to OMV via Finder

- MAC:
	- `echo "This is file 3" > 3.txt`
	- `xattr -w test CreatedOnMac 3.txt`
	- `xattr -l 3.txt` returns `test: CreatedOnMac`
	- Copying 3.txt via Finder from MAC to SHARE.
- SHARE: `xattr -l 3.txt` returns `test: CreatedOnMac`
- OMV:   `xattr -l 3.txt` Again fails with the same error despite the key/value pair both having ASCII characters only:

```
Traceback (most recent call last):
  File "/usr/bin/xattr", line 11, in <module>
    load_entry_point('xattr==0.9.6', 'console_scripts', 'xattr')()
  File "/usr/lib/python3/dist-packages/xattr/tool.py", line 196, in main
    attr_value = attr_value.decode('utf-8')
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 8: invalid start byte
```

### 4.txt with with arbitrary xattr copied from MAC to OMV via rsync

In scenario 2.txt the Finder may performs some kind of conversion on the xattr if copied via Finder to the remote SMB share. As an alternative I will now rsync.

- MAC:
	- `echo "This is file 4" > 4.txt`
	- `xattr -w test4 CreatedOnMac4 4.txt`
	- `xattr -l 4.txt` returns `test4: CreatedOnMac4`
	- rsync --archive --xattrs --delete --verbose --stats --progress --itemize-changes --human-readable ~/Documents/Tests/FinderTagsCommentsAPFS/ odroid.local::Shared-rsync/FinderTagsCommentsEXT4samba/
	- Visual observation of the SHARE in Finder:
		- 4.txt arrived
		- 2.txt lost its red tag, visibly in the Finder
	- Rsync verbose output:

```
.d..t....... ./
.f...p....x. 2.txt
.f...p....x. 3.txt
<f++++++++++ 4.txt
             15 100%    0.00kB/s    0:00:00 (xfr#1, to-chk=0/6)

Number of files: 6 (reg: 5, dir: 1)
Number of created files: 1 (reg: 1)
Number of deleted files: 0
Number of regular files transferred: 1
Total file size: 6.21K bytes
Total transferred file size: 15 bytes
Literal data: 15 bytes
Matched data: 0 bytes
File list size: 0
File list generation time: 0.002 seconds
File list transfer time: 0.000 seconds
Total bytes sent: 534
Total bytes received: 48

sent 534 bytes  received 48 bytes  1.16K bytes/sec
total size is 6.21K  speedup is 10.67
```

- rsync log observations:
	- 3.txt has not changed since then. Not on the source (MAC) and not on the destination (OMV/SHARE).
	- Nevertheless rsync shows an "x" as in "xattr" for 3.txt. Let's inspect further:
	- SHARE observations: 
		- `xattr -l 3.txt` returns nothing! xattr "test" with the value "CreatedOnMac" was definitely lost!
		- `xattr -l 2.txt` returns nothing! Two xattrs were lost:
			- `com.apple.metadata:_kMDItemUserTags`: The red colored Finder Tag "•TODO"
			- `com.apple.FinderInfo`: Whatever the Finder keeps there.
		- `xattr -l 4.txt` returns nothing! xattr "test4" with the value "CreatedOnMac4" was definitely lost!



















Thanks for putting in so much effort to document this issue.
Please keep in mind OMV is just a graphical user interface and relies on many underlying tools to work as specified.
The use case is extremely specific and from my view "on the edge".
As already commented in forum the part "underlying tools to work as specified" is the fact that would allow  us to agree that it is a bug for OMV to handle.
Have you found a positive confirmation somewhere that what you try to accomplish is technically feasible?

> Have you found a positive confirmation somewhere that what you try to accomplish is technically feasible?

OMV was the first Linux and the first NAS to which I try to upload Mac files with metadata (which are implemented as xattr in the case of Finder Tags, and in .DS_Store files in case of Spotlight comments).

Hence I did not yet research in advance whether xattr between Mac and Linux is feasible.

Will research "Mac Finder Tags Comments" in combination with NAS systems like Synology, Q-Nap, etc.
And consider my trusted sources regarding macOS filesystem topics: https://eclecticlight.co and https://bombich.com

Will report back here.

a month passed by, I'm adding label "stale"

I did not yet have time to inquire the macOS filesystem experts. But definitely plan to do it.

The issue definitely needs addressing. The question is just where. Will follow up!

## Finally something!
- I have got hints from the macOS filesystem experts already earlier.
- Only recently had some free days to try this out.
- Got a long journey of further research & experimentation.
- Sharing the essence here now:

## In short: OMV's Samba with its Mac friendly module vfs_fruit handles xattr correctly and persistently. OMV's rsync is not yet suited for a proper Mac/NAS xattr workflow.

- **The NFSv4 protocol has had no specification how xattrs could be mapped to any existing file attributes**
[RFC 8276 section 1](https://www.rfc-editor.org/rfc/rfc8276.html#section-5)  describes the problem.
	- Hence in various NFSv4 client implementations copying between different FS via NFSv4 results in data loss of xattrs.
	- RFC 8276 from December 2017 tackled this

- **Some operating systems have namespaces for xattr others not**, as explained in [RFC 8276 section 6](https://www.rfc-editor.org/rfc/rfc8276.html#section-5)
	- Linux has the namespaces "security", "system", "trusted" which are system-reserved plus "user" for userland applications.
	- macOS has no namespaces, so only one global xattr namespace

- **Samba**
    - runs the **SMB/CIFS** server on the OMV powered NAS
	    - has a module **vfs_fruit** for "Enhanced OS X and Netatalk interoperability"
	    - which is an RFC 8276 implementation
    - The setup of the fruit parameters in the Samba's config files `[Global]` section and specific `[Share]` sections play an important role that your Mac metadata transfer works correctly between your Mac and the NAS.
	    - [Recommended fruit parametrization](https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X) for optimal macOS compatibility
		- Apple HowTo [Use shared storage with Final Cut Pro](https://support.apple.com/HT207128) also has a section "How to configure a Linux Network Attached Storage (NAS) system for Final Cut Pro"
	- What I can tell the default SMB config for the Global + Shares-specific sections ascreated by OMV's assisted SMB configuration (autoconfig) seems ok.
		- Already got one fix [SMB config for MacOS](https://github.com/openmediavault/openmediavault/issues/727).
		- But in doubt check out the above references!
    - I performed the tests with `Finder` and `cp` and `rsync` all acting purely locally
	    - From local folder to locally mounted SMB share, so the network abstraction is handled by SMB alone. In all these scenarios the mapping worked all fine:
        - Finder tags immediately refreshed.
        - Finder comments get transfered, but may not refresh immediately, due to ancient Finder caching bug (reported by `Mike Bombich` to Apple long ago, still unfixed):
            - If you peeked there, after the transfer the comments will first look outdated. But on next Mac boot they reflect the true server state.
            - If you have not peeked there, and open the folder on the SMB share only after transfer, comments are up to date.
    - But when running rsync both as a sender on the Mac and the receiver on the NAS, then the mapping is done not as it would be needed in order to get correct Finder tags when viewing files on a SMB mounted share.
	    - Therefore Finder tags dissappear in Finder.
	    - They are not lost forever, but inaccessible, as they get written into the wrong xattr.

* **xattr in rsync are mapped differently than via SMB**
	- An xattr from macOS gets mapped to Linux "user" namespace, so gets prefixed with "user." when writing from a Mac to a Linux FS via the SMB protocol.
		- Mac xattr `myVar` gets `user.myVar` on Linux
		- ✅ rsync does that.
	- Additionaly the Mac specific SMB protocol extensions perform some more mapping regarding alternative data streams (ADS)
		- Mac xattr `myVar` gets `user.DosStream.myVar` on Linux
		- ✅ SMB does that.
		- ❌ rsync doesn't do that! That's the crucial difference.
		    - I filed this as a [bug/suggestion](https://github.com/WayneD/rsync/issues/337).
		    - There you get all the detailed background info of my research & all the experiments I conducted.


@votdev seems OMV is no longer involved.
Would it make sense to:

1) remove label "feedback required"

2)add label "external issue"
?